body{
	margin: 0;
}
.main{
	margin: 50px 0;
}
.close{
	outline: none;
}
.paymsg{
	display: none;
	opacity: 1;
	animation: fadein 1s linear;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}